# Placeholder Firebase Service Account
# 
# IMPORTANT: Replace this file with your actual Firebase service account credentials
# 
# To get your credentials:
# 1. Go to Firebase Console: https://console.firebase.google.com
# 2. Select your project
# 3. Go to Project Settings > Service Accounts
# 4. Click "Generate new private key"
# 5. Save the downloaded file as "firebase-service-account.json" in this directory
#
# The file should look like this:
# {
#   "type": "service_account",
#   "project_id": "your-project-id",
#   "private_key_id": "...",
#   "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n",
#   "client_email": "firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com",
#   "client_id": "...",
#   "auth_uri": "https://accounts.google.com/o/oauth2/auth",
#   "token_uri": "https://oauth2.googleapis.com/token",
#   "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
#   "client_x509_cert_url": "..."
# }
